<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vko.zuoye.mapper.HwAnswerCardMapper">

	<insert id="insert" parameterType="java.util.List">
		insert
		into zy_hw_answer_card (hwId,id, examOrder, type,
		answer,objective)
		values
		<foreach collection="list" item="it" separator=",">
			(#{it.hwId,jdbcType=BIGINT},#{it.id,jdbcType=BIGINT},
			#{it.examOrder,jdbcType=INTEGER},
			#{it.type,jdbcType=INTEGER},
			#{it.answer,jdbcType=VARCHAR},#{it.objective})
		</foreach>
	</insert>

	<select id="selectAllByIds" parameterType="java.util.List" resultType="hwAnswerCard">
		select id,objective,hwId,examOrder,type,answer from
		zy_hw_answer_card where id in
		<foreach collection="list" item="it" open="(" close=")" separator=",">
			${it}
		</foreach>
	</select>
</mapper>