<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vko.zuoye.mapper.HwExamMapper">

	<select id="selectExamsByHWId" resultType="hwExam" parameterType="long">
		select id,objective,examId,type,examOrder,rightRate,rightNum,wrongNum,begNum
		from zy_hw_exam where hwId=#{id}
	</select>
	
	<!-- 查询，作业的所有试题 -->
	<select id="selectAllExamByHwId" resultType="hwExam">
		select id, objective, examId, type 
		from zy_hw_exam where hwId=#{hwId}
	</select>
	
	<!-- 查询，试题统计信息 -->
	<select id="selectExam" resultType="hwExam">
		select id, hwId, examId, examOrder, objective, begNum, rightRate, rightNum, wrongNum, reviewedNum, unreviewNum 
		from zy_hw_exam 
		where hwId=#{hwId}
	</select>
	
	<insert id="insert" parameterType="java.util.List" >
		insert into zy_hw_exam (hwId, objective, examId,
		begNum, rightRate, rightNum,examOrder,
		wrongNum, type)
		values
		<foreach collection="list" item="it" separator=",">
			(#{it.hwId,jdbcType=BIGINT}, #{it.objective,jdbcType=BIT},
			#{it.examId,jdbcType=BIGINT},
			#{it.begNum,jdbcType=INTEGER}, #{it.rightRate,jdbcType=DECIMAL},
			#{it.rightNum,jdbcType=INTEGER},#{it.examOrder,jdbcType=INTEGER},
			#{it.wrongNum,jdbcType=INTEGER}, #{it.type,jdbcType=INTEGER})
		</foreach>

	</insert>
	
	<!-- 更新此题的已批阅人数，未批阅人数  -->
	<update id="updateCheckSubjectiveNum">
		UPDATE zy_hw_exam  
		SET reviewedNum=reviewedNum+1, unreviewNum= (case 
        when unreviewNum-1 &lt; 0 then 0 
        else unreviewNum-1 END ) 
		WHERE hwId=#{hwId} and examId=#{eId}
	</update>
	<update id="updateBegNum">
		update zy_hw_exam set begNum=begNum+1 where hwId=#{hwId} and examId=#{examId}
	</update>
	<select id="selectBegNums" resultType="int">
		select begNum from zy_hw_exam where hwId=#{hwId} and examId=#{examId}
	</select>
	<update id="updateObjectiveStat">
		UPDATE  zy_hw_exam SET wrongNum=#{wrongNum},rightNum=#{rightNum},rightRate=#{rightRate},unreviewNum=#{unreviewNum} 
		where  hwId=#{hwId} and examId=#{examId}
	</update>
</mapper>