<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vko.zuoye.mapper.StudentHomeworkMapper">
	
	<sql id="Base_Column_List">
		id, hwId, hwName, studentId, studentName, groupId, status, startTime, endTime,
		elapse, createTime, rightNum, objectiveNum, objectiveRate, subjectiveNum, subjectiveRate
	</sql>
	
	<select id="selectByPrimaryKey" resultType="studentHomework" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from zy_student_homework
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<!-- 查询试题统计信息  -->
	<select id="selectAvgRate" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(subjectiveRate)/COUNT(1),0) AS avgRate 
		FROM zy_student_homework 
		WHERE hwId = #{hwId}
	</select>
	
	<!-- 此次作业学生成绩统计数据 -->
	<select id="selectStat" resultType="smartMap">
		select studentId,studentName,status,rightNum,objectiveNum,elapse,objectiveRate,subjectiveRate,objectiveNum,subjectiveNum 
		from zy_student_homework
		where hwId = #{hwId}
	</select>
	
	<!-- 统计此次作业所有学生  -->
	<select id="selectStudent" resultType="studentHomework">
		SELECT id, hwId,studentId,studentName,STATUS 
		FROM zy_student_homework 
		WHERE hwId=#{hwId}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from zy_student_homework
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="java.util.List">
		insert into zy_student_homework (id,hwId, hwName, studentId,
		studentName, groupId, status,
		startTime, endTime, elapse,
		createTime, rightNum, objectiveNum,
		objectiveRate, subjectiveNum, subjectiveRate,subjectId,subjectName
		)
		values
		<foreach collection="list" item="it" separator=",">
			(#{it.id},#{it.hwId,jdbcType=BIGINT}, #{it.hwName,jdbcType=VARCHAR}, #{it.studentId,jdbcType=BIGINT},
			#{it.studentName,jdbcType=VARCHAR}, #{it.groupId,jdbcType=BIGINT}, #{it.status,jdbcType=INTEGER},
			#{it.startTime,jdbcType=TIMESTAMP}, #{it.endTime,jdbcType=TIMESTAMP}, #{it.elapse,jdbcType=INTEGER},
			#{it.createTime,jdbcType=TIMESTAMP}, #{it.rightNum,jdbcType=INTEGER}, #{it.objectiveNum,jdbcType=INTEGER},
			#{it.objectiveRate,jdbcType=DECIMAL}, #{it.subjectiveNum,jdbcType=INTEGER}, #{it.subjectiveRate,jdbcType=DECIMAL},
			#{it.subjectId,jdbcType=BIGINT},#{it.subjectName,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<insert id="insertSelective" parameterType="cn.vko.zuoye.entity.StudentHomework" useGeneratedKeys="true"
		keyProperty="id">
		insert into zy_student_homework
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hwId != null">
				hwId,
			</if>
			<if test="hwName != null">
				hwName,
			</if>
			<if test="studentId != null">
				studentId,
			</if>
			<if test="studentName != null">
				studentName,
			</if>
			<if test="groupId != null">
				groupId,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="startTime != null">
				startTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="elapse != null">
				elapse,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="rightNum != null">
				rightNum,
			</if>
			<if test="objectiveNum != null">
				objectiveNum,
			</if>
			<if test="objectiveRate != null">
				objectiveRate,
			</if>
			<if test="subjectiveNum != null">
				subjectiveNum,
			</if>
			<if test="subjectiveRate != null">
				subjectiveRate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hwId != null">
				#{hwId,jdbcType=BIGINT},
			</if>
			<if test="hwName != null">
				#{hwName,jdbcType=VARCHAR},
			</if>
			<if test="studentId != null">
				#{studentId,jdbcType=BIGINT},
			</if>
			<if test="studentName != null">
				#{studentName,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="elapse != null">
				#{elapse,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="rightNum != null">
				#{rightNum,jdbcType=INTEGER},
			</if>
			<if test="objectiveNum != null">
				#{objectiveNum,jdbcType=INTEGER},
			</if>
			<if test="objectiveRate != null">
				#{objectiveRate,jdbcType=DECIMAL},
			</if>
			<if test="subjectiveNum != null">
				#{subjectiveNum,jdbcType=INTEGER},
			</if>
			<if test="subjectiveRate != null">
				#{subjectiveRate,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.vko.zuoye.entity.StudentHomework">
		update zy_student_homework
		<set>
			<if test="hwId != null">
				hwId = #{hwId,jdbcType=BIGINT},
			</if>
			<if test="hwName != null">
				hwName = #{hwName,jdbcType=VARCHAR},
			</if>
			<if test="studentId != null">
				studentId = #{studentId,jdbcType=BIGINT},
			</if>
			<if test="studentName != null">
				studentName = #{studentName,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				groupId = #{groupId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				startTime = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="elapse != null">
				elapse = #{elapse,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="rightNum != null">
				rightNum = #{rightNum,jdbcType=INTEGER},
			</if>
			<if test="objectiveNum != null">
				objectiveNum = #{objectiveNum,jdbcType=INTEGER},
			</if>
			<if test="objectiveRate != null">
				objectiveRate = #{objectiveRate,jdbcType=DECIMAL},
			</if>
			<if test="subjectiveNum != null">
				subjectiveNum = #{subjectiveNum,jdbcType=INTEGER},
			</if>
			<if test="subjectiveRate != null">
				subjectiveRate = #{subjectiveRate,jdbcType=DECIMAL},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.vko.zuoye.entity.StudentHomework">
		update zy_student_homework
		set hwId = #{hwId,jdbcType=BIGINT},
		hwName = #{hwName,jdbcType=VARCHAR},
		studentId = #{studentId,jdbcType=BIGINT},
		studentName = #{studentName,jdbcType=VARCHAR},
		groupId = #{groupId,jdbcType=BIGINT},
		status = #{status,jdbcType=INTEGER},
		startTime = #{startTime,jdbcType=TIMESTAMP},
		endTime = #{endTime,jdbcType=TIMESTAMP},
		elapse = #{elapse,jdbcType=INTEGER},
		createTime = #{createTime,jdbcType=TIMESTAMP},
		rightNum = #{rightNum,jdbcType=INTEGER},
		objectiveNum = #{objectiveNum,jdbcType=INTEGER},
		objectiveRate = #{objectiveRate,jdbcType=DECIMAL},
		subjectiveNum = #{subjectiveNum,jdbcType=INTEGER},
		subjectiveRate = #{subjectiveRate,jdbcType=DECIMAL}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectAvgElapseByHWId" resultType="double">
		SELECT SUM(elapse)/COUNT(1) as elapse FROM zy_student_homework WHERE hwId=#{hwId}
	</select>
	<select id="selectHandedNumByHWId" resultType="smartMap">
		SELECT SUM(case when status=102001 then 1 else 0 end) as notFinishNum, SUM(case when status=102002 then 1 else 0 end) as handedNum
		FROM zy_student_homework WHERE hwId=#{hwId}
	</select>
	<!-- 更新作业的每个学生的主观题正答率 -->
	<update id="updateSubjectiveRate">
		UPDATE zy_student_homework sh 
		SET sh.subjectiveRate = (SELECT SUM(sa.score) FROM zy_student_answer sa WHERE sa.hwId=sh.hwId AND sa.studentId=sh.studentId)/sh.subjectiveNum 
		WHERE sh.hwId=#{hwId} AND sh.subjectiveNum &gt; 0;
	</update>
	
	<select id="selectMyHomeWork" resultType="studentHomework">
		select id,subjectId,subjectName,hwId,status,hwName,rightNum,objectiveNum,subjectiveNum,subjectiveRate,studentId,studentName,createTime,startTime,endTime from zy_student_homework where studentId=#{stdId}
		
		<if test="status &gt; 0">
			 and status=#{status} 
		</if>
		<if test="subjectId &gt; 0">
			and subjectId=#{subjectId}
		</if>
	</select>
	
	<select id="selectUnHomework" resultType="int">
		select count(*) from zy_student_homework where studentId=#{stdId} and status=102001;
	</select>

</mapper>