<html>
	<head>
		<meta charset="utf-8">
		<title>HTML5 Web Storage Test</title>
		<script type="text/javascript">
			function load(){
				// 浏览器支持性检查
				checkStorageSupport();
				
				window.sessionStorage.setItem('myFirstKey', 'myFirstValue');
				
				alert(window.sessionStorage.getItem('myFirstKey'));
				
				window.sessionStorage.mySecondKey = 'mySecondValue';
				
				alert(window.sessionStorage.mySecondKey);
				
				window.addEventListener("storage", displayStorageEvent, true);
			}
			// 浏览器支持性检测
			function checkStorageSupport(){
				if(window.sessionStorage){
					alert('This browser support sessionStorage');
				}else{
					alert("This browser does not support sessionStorage");
				}
				
				if(window.localStorage){
					alert("This browser support localStorage");
				}else{
					alert("This browser does not support localStorage");
				}
			}
			
			function displayStorageEvent(e){
				var logged = "key: "+e.key +", newValue: "+ e.newValue + ", oldValue: "+ e.oldValue + ", url:"+e.url + " , storageArea: "+ e.storageArea;
				alert(logged);
			}
			
			window.addEventListener('load', load, true);
			
		</script>
	</head>
	
	<body>
	</body>
</html>